@model InspireMind.Education.MVC.Models.ConfirmEmailVM
@inject IConfiguration configuration

@{
    ViewData["Title"] = "ConfirmEmail";
    var emailValue = ViewBag.Email as string;
    var tokenValue = ViewBag.Token as string;
    var apiBaseUrl = configuration.GetSection("ApiBaseUrl").Value;
}

<h2>Confirming your email...</h2>

@section Scripts {
    <script>
        const emailValue = '@emailValue';
        const tokenValue = '@tokenValue';
        const apiBaseUrl = '@apiBaseUrl';

        const url = `${apiBaseUrl}/api/account/confirm-email?email=${emailValue}&token=${tokenValue}`;

        fetch(url, {
            method: 'POST'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                console.log('Data received:', data);
                window.location.href = '/';
            })
            .catch(error => {
                console.error('Error:', error);
            });

    </script>
}
