@model InspireMind.Education.MVC.Models.ConfirmEmailVM
@inject IConfiguration configuration

@{
    ViewData["Title"] = "Confirm Email";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    var emailValue = ViewBag.Email as string;
    var tokenValue = ViewBag.Token as string;
    var apiBaseUrl = configuration.GetSection("ApiBaseUrl").Value;
}


<form asp-action="ConfirmEmail" method="post">
    <button type="submit" class="btn btn-primary">Confirm Email</button>
</form>