@{
    ViewData["Title"] = "Email Confirmed";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="alert alert-info" role="alert">
    Email Confirmed. <a asp-action="Login">Go To Login</a>.
</div>
