@model RegisterVM

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div asp-validation-summary="All" class="text-danger"></div>

<partial name="_AccountNavigationPartial" />
<form asp-action="Register" method="post"> 
    <!-- FirstName input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="registerName" class="form-control" asp-for="FirstName" />
        <label class="form-label" asp-for="FirstName"></label>
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="registerName" class="form-control" asp-for="LastName" />
        <label class="form-label" asp-for="LastName"></label>
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>

    <!-- Username input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="registerUsername" class="form-control" asp-for="UserName" />
        <label class="form-label" for="registerUsername" asp-for="UserName"></label>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="registerEmail" class="form-control" asp-for="Email" />
        <label class="form-label" for="registerEmail" asp-for="Email"></label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="registerPassword" class="form-control" asp-for="Password" />
        <label class="form-label" for="registerPassword" asp-for="Password"></label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>


    <!-- Submit button -->
    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-3">Sign Up</button>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
