
@{
    ViewData["Title"] = "Sucessfull Confirmation";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="alert alert-info" role="alert">
    Email confirmation message sent successfully, Please check your email.
</div>
