@{
    ViewData["Title"] = "Require Confirm Email";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="alert alert-info" role="alert">
    Require confirm email. <a asp-action="RequestConfirmEmail">Go To Confirm Email</a>.
</div>
