@model ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div asp-validation-summary="All" class="text-danger"></div>
<br />

<div class="card">
    <div class="card-body">
        <h5 class="card-title text-center">Reset Password</h5>
        <form asp-action="ResetPassword" method="post">
            <input type="hidden" name="email" value="@ViewData["email"]" />
            <input type="hidden" name="token" value="@ViewData["token"]" />
            <div class="mb-3">
                <label asp-for="Password" class="form-label">New Password</label>
                <input type="password" class="form-control" asp-for="Password" id="password" placeholder="Enter new password" required>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Confirm New Password</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm new password" >
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Reset Password</button>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
